main{
    display: flex;
}
body{
    font-family: Georgia;
    text-align: center;
}

header, footer{
    background-color: #BA6B6C;
    padding: 7px;
    height: 90px;
    width: 100%;
}
header a{
    color: white;
    padding: 7px;
}
.left, .right{
    background-color: #EF9A9A;
    width: 20%;
    height: 500px;
}
.center{
    background-color: mistyrose;
    width: 60%;
    height: 500px;
}
.data{
    background-color: mistyrose;
    padding: 50px;
}
table{
    border: solid 1px maroon;
    width: 80%;
}
h2::first-letter{
    color: maroon;
}
.center img{
    box-shadow: 6px 6px 6px 6px rgb(151, 151, 151);
    margin: 7px;
}
footer{
    background-color: #BA6B6C;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 15px;
}
