body {
    background-color: rgb(255, 207, 221);
}
header {
    background-color: #0c8185;
    text-align: center;
    height: 80px;main {
    display: flex;
}
body {
    background-color: #E0F7FA;
    font-family: Arial;
    text-align: center;
}
.site {
    width: 95%;
    margin: auto;
}
header {
    background-color: #00838F;
    height: 200px;
}
nav {
    background-color: #006064;
    padding: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 150%;
    padding: 15px;
}
.left, .center, .right {
    height: 350px;
    width: 33%;
}
footer {
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}
ul {
    text-align: left;
}
button {
    background-color: #00838F;
    color: white;
}
button:hover {
    color: #80DEEA;
}
}
header a {
    color:#ffff;
    text-decoration: none;
    font-size: 24px;
    line-height: 80px;
}
section {
    display:flex;
    justify-content: center;
}
section h3 {
    text-align: center;
}
footer {
    text-align: left;
}